<div class="container py-5">
    <h3 class="display-3">Movies</h3>
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="lead text-body-secondary">
                Movies move us like nothing else can, whether they’re scary, funny, dramatic, romantic or anywhere
                in-between.
                So many titles, so much to experience.
            </p>
        </div>
    </div>
    <app-list-card [listData]="listData" [title]="'Upcoming'"></app-list-card>
</div>